---
layout: default
title: JavaScript Cookbook
---

<div class="row">
  <article class="col-sm-8 col-md-9 col-lg-10 mb-5">
      <h2>Welcome</h2>

      <p class="lead">
      The JavaScript Cookbook is a site for common JavaScript problems and solutions. Anyone is
      welcome to <a href="/submit">contribute</a> an article.
      </p>

      <h3>Updates</h3>
      <p>
      It's been four years since the last update. The site is now built using <a href="https://11ty.io">11ty</a>, search is local,
      and I'm using PRs for submissions.
      </p>

      <h3>Latest Articles</h3>

    {% for article in collections.articles limit:5 %}
      <a href="{{article.url}}">{{ article.data.title }}</a> - {% dateFormat article.data.published %}<br/>
    {% endfor %}

      <h3>Popular Articles</h3>

      {% for article in popularpages limit:5 %}
      		{% assign articleData = article.path | toData: collections.articles %}
          {% if articleData.title != "" %}
          <a href="{{article.path}}">{{articleData.title}}</a> - {% dateFormat articleData.published %}<br/>
          {% endif %}
      {% endfor %}

  </article>
  <aside class="col-sm-4 col-md-3 col-lg-2">
    <ul class="indexTags nav flex-column bg-light">
      <li class="nav-link">Tags</li>
      {% for tag in collections.tagList %}
      <li class="nav-link"><a href="/tag/{{tag | cgi_escape}}">{{ tag }}</a></li>
      {% endfor %}
    </ul>
  </aside>
</div>
